{% extends 'main/layout.html' %}


{% block content %}
    <div class="container justify-content-center mt-5" style="width: fit-content;">
        <main class="form-signin">
            <form method="POST" action="">
                {% csrf_token %}
                <h1 class="h3 mb-3 fw-normal">Please edit</h1>

                <div class="form-floating mb-3">
                    <input type="login" name="login" class="form-control" id="floatingInput" placeholder="Login" value="{{ user.login }}">
                </div>

                <div class="form-floating mb-3">
                    <input type="description" name="description" class="form-control" id="floatingInput" placeholder="Login" value="{{ user.description }}">
                </div>

                <div class="checkbox mt-2 mb-3">
                    <label>
                        <input type="checkbox" value="remember-me"> Remember me
                    </label>
                </div>
                {{ form.as_p }}
                <!-- <p><input type="file" name="photo" multiple accept="image/jpeg,image/png">
                    <input type="submit" value="Отправить">
                </p> -->
                <button class="w-100 btn btn-lg btn-primary" type="submit">Edit</button>
                <p class="mt-5 mb-3 text-muted">&copy; 2017–2021</p>
            </form>
        </main>
    </div>


    <script src="/docs/5.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>


{% endblock %}